body {
  padding: 4vw 15vw;
}

.home {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.avatar {
  display: flex;
  flex-direction: column;
}

.summoner {
  background-color: green;
  display: flex;
  flex-direction: column;
}
